parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests
    ignoreErrors:
        - message: '/Method Tests\\Prometee\\VIESClientBundle\\Constraints\\VatNumberValidatorTest::(getValidVatNumbers|getInvalidNumbers|getInvalidTypes)\(\) return type has no value type specified in iterable type array\./'
          paths:
            - tests/Constraints/VatNumberValidatorTest.php
